$main-color: #4CAF50;
$secondary-color: #f4f4f4;
$text-color: #333;
$max-width: 1200px;

body {
  font-family: Arial, sans-serif;
  color: $text-color;
  background: linear-gradient(to right, #4CAF50, #f4f4f4), url('image/background.jpg');
  background-size: cover;
  margin: 0;
  padding: 0;
}

header {
  background-color: $main-color;
  padding: 10px 0;

  .header-wrapper {
    max-width: $max-width;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    nav ul {
      display: flex;
      list-style: square inside;

      li {
        margin: 0 10px;

        a {
          text-decoration: none;
          color: white;
          font-size: 1.1rem;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

section {
  max-width: $max-width;
  margin: 20px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  border: 2px solid $main-color;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  h2 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: $main-color;
  }

  p {
    line-height: 1.6;
    letter-spacing: 0.5px;
    text-align: justify;
    color: $text-color;
  }
}

form {
  display: flex;
  flex-direction: column;

  input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  button {
    background-color: $main-color;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: darken($main-color, 10%);
    }
  }
}

footer {
  text-align: center;
  padding: 10px 0;
  background-color: $main-color;
  color: white;
}

a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;

  &:hover {
    color: yellow;
  }

  &:visited {
    color: lightgray;
  }

  &:active {
    color: red;
  }
}
